.App {
  text-align: center;
}
h1{
  margin-top: 10.5%;
  color: #7a7d83;
}
h3{
  color: #525457;
}

.container{
  margin-left: 45%;
  background-color: #7a7d83;
  width: 120px;
  height: 40px;
  font-size: 25px;
  border-radius: 5px;
  border-style: double;
  cursor: pointer;
}
.inputval{
  background-color: #fff;
  width: 30px;
  height: 38.4px;
  padding-left: 20px;
  font-size: 20px;
  border-style: none;
}
.minus{
  padding: 10px;
}
.plus{
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
